<html lang="en">

<head>
    <title>Ultimate Tic-Tac-Toe</title>
    <link rel="stylesheet" type="text/css" href="/static/uni.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Ultimate Tic-Tac-Toe">
    <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@600&family=Play&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/uttt.css">
    <script type="text/javascript" data-cfasync="false" src="/static/info.js"></script>
    <script type="text/javascript" data-cfasync="false" src="/static/board.js"></script>
    <script type="text/javascript" data-cfasync="false" src="/static/game.js"></script>
</head>

<body>
    <div class="MainContent">
        <img class="img" src="https://c.animaapp.com/JTZHMYdv/img/frame-12.svg" />
        <p></p>
        <section id="boardWrap">
        </section>
        <aside id="infoBox">
        </aside>
        <script type="text/javascript">
            const board = new GameBoard();
            let state = new GameState();
            const info = new InfoBox();

            const messages = {
                start: "$X$ to Start",
                anyMove: "Please make a move in any area",
                restrictMove: "Please make a move in the indicated area",
                xNext: "$X$ to Move",
                oNext: "$O$ to Move",
                
            };
            info.setMsg(messages.start, messages.anyMove);

            function clickedCell(a, b, i, j) {

                const turn = state.turn;

                // Update state and board
                if (state.move(a, b, i, j)) {
                    board.move(turn, state, a, b, i, j);
                }

                // Update info box
              if (!state.status) {
                    // noinspection JSIncompatibleTypesComparison
                    if (state.status == null) {
                        // Tie
                        window.location.href = "/XOtie";//connect with tie.html
                    } else {
                        // Winner
                        
                       window.location.href = state.turn ? "/Xwin" : "/Owin";
                    }
                } else
                if(state.status) {
                    info.setMsg(
                        state.turn ? messages.xNext : messages.oNext,
                        state.lastMove ? messages.restrictMove : messages.anyMove
                    );
                }
            }
            
            function reset() {
                board.reset();
                state = new GameState();
                info.setMsg(messages.start, messages.anyMove);
            }
        </script>

    </div>
</body>

</html>