<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@600&family=Play&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="global.css">
    <link rel="stylesheet" href="homepageXO.css">
  </head>
  <body>
    
    <div class="log-in">
      <div class="frame-wrapper">
        <div class="frame">
          <img class="img" src="https://c.animaapp.com/lOqBbgw9/img/frame-9.svg" />
          <div class="div">
            <div class="text-wrapper">Player 1 is X</div>
            <img class="img" src="https://c.animaapp.com/lOqBbgw9/img/frame-12.svg" />
            <p class="p">Remember : X goes first</p>
          </div>
          <div class="frame-2">
            <a href ="Xsignup1.html" class="button1"><div class="text-wrapper-2">Sign Up</div></a>
            <a href="Xlogin.html" class="button2"><div class="text-wrapper-2">Log In</div></a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>